USE [KCC_UATDB]
GO
/****** Object:  Table [dbo].[s_mnu]    Script Date: 06-09-2024 19:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[s_mnu](
	[mnu_sno] [numeric](5, 0) NULL,
	[mnu_ename] [nvarchar](100) NULL,
	[mnu_hname] [nvarchar](200) NULL,
	[mnu_next] [numeric](5, 0) NULL,
	[mnu_current] [numeric](5, 0) NULL,
	[mnu_lvlno] [char](20) NULL,
	[mnu_lvlsno] [char](20) NULL,
	[mnu_moduleno] [numeric](3, 0) NULL,
	[mnu_abr] [varchar](10) NULL,
	[mnu_free] [varchar](2) NULL,
	[mnu_pageDisplayType] [varchar](2) NULL,
	[mnu_application] [char](1) NULL,
	[mnu_wordno] [numeric](7, 0) NULL,
	[mnu_authtype] [numeric](1, 0) NULL,
	[mnu_dualauth] [char](1) NULL,
	[mnu_for] [char](1) NULL,
	[mnu_rptPath] [varchar](200) NULL,
	[mnu_ShowInQRS] [char](1) NULL,
	[mnu_Qrsmodule] [numeric](18, 0) NULL,
	[mnu_iconpath] [varchar](200) NULL,
	[mnu_path] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[s_mnuust]    Script Date: 06-09-2024 19:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[s_mnuust](
	[mnuust_mnusno] [numeric](5, 0) NULL,
	[mnuust_userid] [numeric](7, 0) NULL,
	[mnuust_flag] [char](1) NULL,
	[mnuust_compkid] [numeric](9, 0) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[s_mnuust] ([mnuust_mnusno], [mnuust_userid], [mnuust_flag], [mnuust_compkid]) VALUES (CAST(24 AS Numeric(5, 0)), CAST(9 AS Numeric(7, 0)), N'Y', NULL)
INSERT [dbo].[s_mnuust] ([mnuust_mnusno], [mnuust_userid], [mnuust_flag], [mnuust_compkid]) VALUES (CAST(25 AS Numeric(5, 0)), CAST(9 AS Numeric(7, 0)), N'Y', NULL)
INSERT [dbo].[s_mnuust] ([mnuust_mnusno], [mnuust_userid], [mnuust_flag], [mnuust_compkid]) VALUES (CAST(1 AS Numeric(5, 0)), CAST(9 AS Numeric(7, 0)), N'Y', NULL)
GO
ALTER TABLE [dbo].[s_mnu] ADD  DEFAULT ('C') FOR [mnu_application]
GO
ALTER TABLE [dbo].[s_mnu] ADD  DEFAULT ((0)) FOR [mnu_authtype]
GO
ALTER TABLE [dbo].[s_mnu] ADD  DEFAULT ('B') FOR [mnu_for]
GO
